body {
	margin:0; 
	background-color:black; 
	color:black; 
	font-family:Arial; 
	font-size: 13px;
	text-align:center; 
}

h5 {
	text-align:center;
}

#header {
	margin:0 auto; 
	max-width:800px;
}

#header img {
	width: 100%;
}

#main {
	background-color:white;
	margin:0 auto;
	max-width:800px;
}

#btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 2px solid gray;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
#btnTop:hover {background-color: black; color:yellow;}
#btnTop:active {background-color: yellow; color:black; border:none}

.btn-container {
}

.btn-container button {
	background-color:black;
	border: none;
	color: yellow;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
}
.btn-container a {text-decoration:none; color:yellow;}
.btn-container button:hover {background-color: yellow; color: black}
.btn-container button:active {background-color: #ffff99; color: black;}

.secTitle {
	background-color:black;
	color:yellow;
	text-align:center;
	padding: 5px;
}

#allLinks {
	text-align:left;
	border: 2px dashed gray;
	margin: 5px;
	padding: 10px;
}
#allLinks a { text-decoration:none; color:green;}
#allLinks a:hover { text-decoration: underline; }

#tag a { text-decoration:none; color:black;}
#tag a:hover { text-decoration: underline; }

.sticky {
	position:sticky;
	top:0;
}
.box {
	background: black;
	border: 2px dashed gray;
	color: yellow;
	margin: 5px;
}
.box button {
	background-color:black;
	border: none;
	color: yellow;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	width:100%;
	border-top: 1px solid gray;
}
.box a {text-decoration:none; color:yellow;}
.box button:hover { background-color: yellow; color: black}
.box button:active { background-color: yellow; color: black; border:2px dashed black;}

#about {
	border: 2px dashed gray;
	margin: 5px;
	padding: 10px;
}

#about a {
	color: green;
	text-decoration: underline dotted;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.33%; }
.span_1_of_3 { width: 32.66%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	.sticky {position:static;}
}